In [41]:
import pandas as pd

import numpy as np

dict = {'First Score': [100, np.nan, np.nan, 95],
       'Second Score': [30, 65, 56, 56],
       'Third Score': [40, np.nan, 80, 98],
       'Fourth Score': [np.nan, np.nan, np.nan, 65]}

df = pd.DataFrame(dict)

# df.isnull()  #Display Ture if the value is Null
# df.notnull()  #Displat False if the value is Null
# df.fillna(0)  #Puts value mentioned in () to missing cells 
# df.fillna(method = 'pad')  #Fills missing cells with previous values
# df.fillna(method = 'bfill')  #Fills missing cells with next values
# df.interpolate(method ='linear', limit_direction ='forward')  #Interpolate missing values
# df.dropna()  #Drops rows with at least one missing cell
# df.dropna(how = 'all') #Drops rows if all cells are Null
df.dropna(axis = 1)  #Drops columns if at least one cell is Null

   Second Score
0            30
1            65
2            56
3            56

In [47]:
data = pd.read_csv("employees.csv")

# bool_series = pd.isnull(data["Gender"])
# data[bool_series]

# not_null = pd.notnull(data['Gender'])
# data[not_null]

# data["Gender"].fillna("No Gender", inplace = True)
# data = data.replace(to_replace = np.nan, value = -99)
# data[10:25]

new_data = data.dropna(axis = 0, how = 'any')

new_data

print("Old data frame length: ", len(data))
print("New data frame length: ", len(new_data))
print("Number of rows eleminated with at least 1 N/A values: ", (len(data)-len(new_data)))

Old data frame length:  1000
New data frame length:  764
Number of rows eleminated with at least 1 N/A values:  236