<code>Conn_obj = mysql.connector.connect(host = <i>'hostname'</i>, user = <i>'username'</i>, passwd = <i>'password'</i>)</code>

In [6]:
import mysql.connector

dbconn = mysql.connector.connect(user = 'root',
                              host = 'localhost',
                              passwd = '',
                                database = "College")

print(dbconn)

# conn.close()

<mysql.connector.connection.MySQLConnection object at 0x107d5dd80>

<h3><i>Create Database</i></h3>
    <code>connection.cursor().execute("CREATE DATABSE (<i>database name</i>)")</code>

In [7]:
cursor = dbconncursor()

cursor.execute("CREATE DATABASE College")
print("College Database is Created")

College Database is Created

In [24]:
dbconn = mysql.connector.connect(user = 'root',
                                host = 'localhost',
                                passwd = '',
                                database = 'College')

print(dbconn)

TableName = "CREATE TABLE Student(Name VARCHAR(255), Roll_no int);"

cursor = dbconn.cursor()

cursor.execute(TableName)
print("Student Table is Created in the Database")

<mysql.connector.connection.MySQLConnection object at 0x107061f00>
Student Table is Created in the Database

In [51]:
dbconn = mysql.connector.connect(user = 'root',
                                host = 'localhost',
                                passwd = '',
                                database = 'College')

insert = "INSERT INTO Student (Name, Roll_no) VALUES (%s, %s)"
val = [("Akash", "98"),
       ("Neel", "23"),
       ("Rohan", "43"),
       ("Amit", "87"),
       ("Anil", "45"),
       ("Megha", "55"),
       ("Sita", "95")]

for element in range(len(val)):
    dbconn.cursor().execute(insert, val[element])
    dbconn.commit()

print(dbconn.cursor().rowcount, "Details inserted")

-1 Details inserted

In [15]:
import mysql.connector

dbconn = mysql.connector.connect(user = 'root',
                              host = 'localhost',
                              passwd = '',
                                database = "College")


query = "SELECT * FROM Student"
cursor = dbconn.cursor()
cursor.execute(query)

data = cursor.fetchall()

for info in range(len(data)):
    print(data[info])

dbconn.close()

('Ram', 85)
('Akash', 98)
('Neel', 23)
('Rohan', 43)
('Amit', 87)
('Anil', 45)
('Megha', 55)
('Sita', 95)

<h3>Close Database connection</h3>

In [8]:
dbconn.close()

In [50]:
# limit = int(input())
# list = []
# for i in range(limit):
#     a = input()
#     a = tuple(x for x in a.split(","))
#     list.insert(i, a)
# print(list)

val = [("Akash", "98"),
       ("Neel", "23"),
       ("Rohan", "43"),
       ("Amit", "87"),
       ("Anil", "45"),
       ("Megha", "55"),
       ("Sita", "95")]

for element in range(len(val)):
    print(val[element])

('Akash', '98')
('Neel', '23')
('Rohan', '43')
('Amit', '87')
('Anil', '45')
('Megha', '55')
('Sita', '95')