# Imports #

In [4]:
import pandas as pd
import numpy as np

In [3]:
data = {"name":['Tom', 'Jack', 'Steve', 'Ricky'], "Age":[28, 34, 29, 42]}
df = pd.DataFrame(data, index=['rank1', 'rank2', 'rank3', 'rank4'])
print(df)

        name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [16]:
df = pd.DataFrame(np.random.randn(5,3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print(df)
print("\t")
print(df['one'].isnull())

        one       two     three
a  1.204057  0.520349  2.032993
b       NaN       NaN       NaN
c  0.184118 -0.242682 -2.417305
d       NaN       NaN       NaN
e  0.628638  0.316231  0.694269
f  0.233049 -0.249342 -0.831143
g       NaN       NaN       NaN
h -0.915454  0.693973  1.215587

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [17]:
# df = pd.DataFrame(np.random.randn(3,3), index=['a', 'b', 'c'], columns=['one', 'two', 'three'])
# df =df.reindex(['a', 'b', 'c'])
print(df)
print("NaN replaced with '0':")
print(df.fillna(0))

        one       two     three
a  1.204057  0.520349  2.032993
b       NaN       NaN       NaN
c  0.184118 -0.242682 -2.417305
d       NaN       NaN       NaN
e  0.628638  0.316231  0.694269
f  0.233049 -0.249342 -0.831143
g       NaN       NaN       NaN
h -0.915454  0.693973  1.215587
NaN replaced with '0':
        one       two     three
a  1.204057  0.520349  2.032993
b  0.000000  0.000000  0.000000
c  0.184118 -0.242682 -2.417305
d  0.000000  0.000000  0.000000
e  0.628638  0.316231  0.694269
f  0.233049 -0.249342 -0.831143
g  0.000000  0.000000  0.000000
h -0.915454  0.693973  1.215587